@model wspay_v2.Models.Payment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShoppingCartID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShoppingCartID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Version)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Signature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Signature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CancelURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CancelURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnErrorURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnErrorURL)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PaymentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
