@model IEnumerable<wspay_v2.Models.Payment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShopID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShoppingCartID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Signature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CancelURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnErrorURL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShopID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShoppingCartID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Signature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CancelURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnErrorURL)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PaymentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PaymentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PaymentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
